.shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(24, 32, 6, 0.6);
  z-index: -1;
}

.bold-text {
  font-weight: bold;
}

.btn {
  position: relative;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid transparent;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: 'Figtree', sans-serif;
  color: #f8f8f8;
  text-transform: uppercase;
  z-index: 1;
}

.btn:hover, .btn:focus {
  background-color: #5c7035;
  border: 1px solid #5c7035;
  color: #f8f8f8;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2em 2em 4em;
}

.section {
  margin: 1em 0;
}

.section__box {
  text-align: center;
}

.section__box-heading {
  position: relative;
  display: inline-block;
  color: #5c7035;
  margin-top: 2.3em;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: 'Lora', serif;
  z-index: 1;
}

.section__box-heading::before {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  bottom: 0;
  left: -5%;
  border-radius: 1.5em 0;
  background: #04541d;
  background: linear-gradient(237deg, #04541d 6%, #1e9600 33%, #219704 39%, #f8f8f8 100%);
  opacity: 0.5;
  z-index: -1;
  content: '';
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Figtree', sans-serif;
  font-size: 1.6rem;
  background-color: #f8f8f8;
  color: #333;
}

.navbar {
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 1rem #333;
          box-shadow: 0 0 1rem #333;
  --bs-navbar-active-color: #04541d;
}

.navbar__logo {
  height: 40px;
}

.navbar-toggler {
  padding: 0.5em;
}

.navbar-toggler-icon {
  font-size: 2rem;
}

.navbar-nav {
  margin-top: 0.5em;
}

.navbar .nav-link {
  color: #5c7035;
  text-transform: uppercase;
}

.navbar .nav-link:hover {
  color: #04541d;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("../img/header_lq.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1em;
  color: #cecdb7;
  -webkit-animation: fade-in ease-in-out 1.5s;
          animation: fade-in ease-in-out 1.5s;
}

.header__box-title {
  font-family: 'Lora', serif;
  font-size: 3.5rem;
  font-style: italic;
  color: #f8f8f8;
}

.header__box-text {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
}

.header__box-btn {
  margin-top: 1.5em;
}

.main .offer-favorites .wrapper {
  padding-bottom: 0;
}

.main .offer-favorites__cards {
  padding: 5em 0 0;
}

.main .offer-favorites__card {
  position: relative;
  width: 100%;
  margin-bottom: 7em;
}

.main .offer-favorites__card:hover .offer-favorites__card-bottom {
  background-color: #cecdb7;
}

.main .offer-favorites__card-top {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 120px;
  border-radius: 100px 0;
  overflow: hidden;
  -webkit-transform: skewX(-5deg) translate(-50%, 40%);
          transform: skewX(-5deg) translate(-50%, 40%);
  z-index: 20;
}

.main .offer-favorites__card-top img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

.main .offer-favorites__card-bottom {
  padding: 6em 1em 1em;
  background-color: #f8f8f8;
  border-radius: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 0 1rem #333;
          box-shadow: 0 0 1rem #333;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main .offer-favorites__card-bottom-title {
  margin-bottom: 0.5em;
  font-family: 'Lora', serif;
  font-size: 3.5rem;
  font-style: italic;
  color: #5c7035;
}

.main .offer-favorites__card-bottom-text {
  margin-bottom: 1em;
}

.main .offer-seasonal {
  background-color: #cecdb7;
}

.main .offer-seasonal .carousel {
  display: none;
}

.main .offer-seasonal__card {
  position: relative;
  height: 500px;
  margin-bottom: 2em;
  background-image: url("../img/seasonal-spring.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1rem #333;
          box-shadow: 0 0 1rem #333;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  overflow: hidden;
}

.main .offer-seasonal__card-box {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.main .offer-seasonal__card-box-title {
  color: #f8f8f8;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.main .offer-seasonal__card-box-text {
  color: #cecdb7;
  font-size: 1.4rem;
}

.main .offer-seasonal__card--summer {
  background-image: url("../img/seasonal-summer.jpg");
}

.main .offer-seasonal__card--autumn {
  background-image: url("../img/seasonal-autumn.jpg");
}

.main .offer-seasonal__card--winter {
  background-image: url("../img/seasonal-winter.jpg");
}

.main .offer-personalized__text {
  text-align: justify;
}

.main .offer-personalized__text:last-of-type {
  margin-bottom: 3em;
}

.main .offer-personalized__img {
  margin-bottom: 1em;
  border: 1rem solid #fff;
  -webkit-box-shadow: 0 0 1rem #333;
          box-shadow: 0 0 1rem #333;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.main .offer-personalized__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.main .about__card {
  margin-bottom: 1.5em;
}

.main .about__card-title {
  margin-bottom: 0.5em;
  font-family: 'Lora', serif;
  font-size: 2.5rem;
}

.main .about__card-title--right {
  text-align: right;
}

.main .about__card-text {
  margin-bottom: 0;
  line-height: 1.5;
  text-align: justify;
}

.main .about__accolades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4em;
}

.main .about__accolades-card {
  margin-bottom: 2em;
  text-align: center;
}

.main .about__accolades-card-icon {
  color: #5c7035;
  font-size: 5rem;
}

.main .about__accolades-card-text {
  margin-bottom: 0;
}

.main .newsletter {
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 0;
  background-image: url("../img/newsletter_lq.jpg");
  -webkit-box-shadow: 0 0 1rem #333;
          box-shadow: 0 0 1rem #333;
}

.main .newsletter .wrapper {
  padding-bottom: 2em;
}

.main .newsletter__title {
  font-size: 4rem;
  font-family: 'Lora', serif;
  color: #f8f8f8;
}

.main .newsletter__text {
  font-size: 1.4rem;
  margin-bottom: 2em;
  color: #cecdb7;
}

.main .newsletter__input {
  width: 100%;
  background: none;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid transparent;
  border-radius: 1rem;
  outline: none;
  color: #f8f8f8;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .newsletter__input:focus {
  border: 1px solid #f8f8f8;
}

.main .newsletter__input::-webkit-input-placeholder {
  color: #cecdb7;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .newsletter__input:-ms-input-placeholder {
  color: #cecdb7;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .newsletter__input::-ms-input-placeholder {
  color: #cecdb7;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .newsletter__input::placeholder {
  color: #cecdb7;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .newsletter__btn {
  display: block;
  margin: 1em auto 0;
}

.main .faq {
  margin-bottom: 0;
  padding-bottom: 5em;
  background-color: #cecdb7;
}

.main .faq .accordion-button {
  background-color: #f8f8f8;
  border: 1px solid #cecdb7;
  font-size: 1.6rem;
  color: #04541d;
}

.main .faq .accordion-button:not(.collapsed) {
  background-color: #afbe90;
  border: 1px solid transparent;
}

.main .faq .accordion-body {
  line-height: 1.5;
}

.main .contact {
  margin: 0;
  padding: 5em 0;
  background-image: url("../img/contact_lq.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 0;
  color: #f8f8f8;
  -webkit-box-shadow: 0 0 1rem #333;
          box-shadow: 0 0 1rem #333;
}

.main .contact .wrapper {
  padding-bottom: 2em;
}

.main .contact__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .contact__card {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.main .contact__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .contact__card-icon {
  font-size: 5rem;
}

.main .contact__card-title {
  margin-bottom: 0.5em;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.main .contact__card-text {
  margin-bottom: 0;
  line-height: 1.5;
}

.main .contact__form {
  margin-top: 2em;
}

.main .contact__form-input {
  width: 100%;
  background: none;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid transparent;
  border-radius: 1rem;
  outline: none;
  color: #f8f8f8;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
  margin-bottom: 0.8em;
}

.main .contact__form-input:focus {
  border: 1px solid #f8f8f8;
}

.main .contact__form-input::-webkit-input-placeholder {
  color: #cecdb7;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .contact__form-input:-ms-input-placeholder {
  color: #cecdb7;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .contact__form-input::-ms-input-placeholder {
  color: #cecdb7;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .contact__form-input::placeholder {
  color: #cecdb7;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}

.main .contact__form-input--textarea {
  resize: none;
}

.main .contact__form-btn {
  display: block;
  margin: 0 auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  background-color: #333;
  color: #f8f8f8;
}

.footer__socials, .footer__text {
  margin-bottom: 0;
}

.footer__socials {
  margin-bottom: 1em;
}

.footer__socials-link {
  margin: 0.8em;
  font-size: 2.5rem;
  color: #f8f8f8;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__socials-link:hover, .footer__socials-link:active {
  color: #5c7035;
}

.footer__text {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .section__box-heading {
    font-size: 5rem;
  }
  .navbar__logo {
    height: 60px;
  }
  .navbar .nav-link {
    font-size: 2rem;
  }
  .header {
    height: 80vh;
    background-image: url("../img/header_hq.jpg");
  }
  .header__box-title {
    font-size: 7rem;
  }
  .header__box-text {
    font-size: 1.8rem;
  }
  .header__box-btn {
    font-size: 2rem;
  }
  .main .offer-favorites__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .offer-favorites__card {
    width: 30%;
  }
  .main .offer-favorites__card-bottom-title {
    font-size: 4rem;
  }
  .main .offer-seasonal__cards {
    display: none;
  }
  .main .offer-seasonal .carousel {
    display: block;
  }
  .main .offer-seasonal .carousel-item {
    position: relative;
    overflow: hidden;
  }
  .main .offer-seasonal .carousel-item img {
    -o-object-position: center;
       object-position: center;
    -webkit-filter: grayscale(30%);
            filter: grayscale(30%);
  }
  .main .offer-seasonal .carousel-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 3em 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: #cecdb7;
  }
  .main .offer-seasonal .carousel-title {
    margin-bottom: 0.5em;
    font-family: 'Lora', serif;
    font-size: 3rem;
    color: #f8f8f8;
    text-transform: uppercase;
  }
  .main .offer-seasonal .carousel-text {
    margin-bottom: 1em;
  }
  .main .offer-personalized {
    font-size: 1.8rem;
  }
  .main .offer-personalized__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .offer-personalized__img {
    width: 500px;
  }
  .main .newsletter {
    background-image: url("../img/newsletter_hq.jpg");
  }
  .main .newsletter__btn {
    font-size: 2rem;
  }
  .main .about__card-title {
    font-size: 3.5rem;
  }
  .main .about__card-text {
    font-size: 1.8rem;
  }
  .main .about__accolades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .about__accolades-card {
    width: 30%;
  }
  .main .about__accolades-card-icon {
    font-size: 8rem;
  }
  .main .faq .accordion-button {
    font-size: 2rem;
  }
  .main .faq .accordion-body {
    font-size: 1.8rem;
    color: #333;
  }
  .main .contact {
    background-image: url("../img/contact_hq.jpg");
  }
  .main .contact__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .contact__card {
    width: 48%;
    margin-right: 1em;
  }
  .main .contact__card-text {
    font-size: 1.8rem;
  }
  .main .contact__form-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .contact__form-input {
    width: 49%;
  }
  .main .contact__form-input--textarea {
    width: 100%;
  }
  .main .contact__form-input, .main .contact__form-input::-webkit-input-placeholder {
    font-size: 1.8rem;
  }
  .main .contact__form-input, .main .contact__form-input:-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .main .contact__form-input, .main .contact__form-input::-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .main .contact__form-input, .main .contact__form-input::placeholder {
    font-size: 1.8rem;
  }
  .main .contact__form-btn {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-top: 0;
  }
  .header__box-title {
    font-size: 10rem;
  }
  .header__box-text {
    font-size: 2rem;
  }
  .header__box-btn {
    padding: 0.5em 1em;
    font-size: 2.2rem;
  }
  .main .offer-personalized__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .offer-personalized__img {
    width: 30%;
  }
  .main .newsletter__title {
    font-size: 7rem;
  }
  .main .newsletter__text {
    font-size: 1.6rem;
  }
  .main .newsletter__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .newsletter__input {
    width: 85%;
    padding: 0.8em;
  }
  .main .newsletter__btn {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */